<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="app_name" value="parkgr"/>

    <!-- Define the encoder for formatting log messages -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

	<!-- Define the rolling file appender -->
    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/${app_name}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/${app_name}-%d{yyyy-MM-dd_HH}.log</fileNamePattern>
            <maxHistory>30</maxHistory> <!-- Keep logs for 30 days -->
            <maxFileSize>10MB</maxFileSize> <!-- Max file size before rotation -->
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Define the root logger with level and appenders -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ROLLING_FILE"/>
    </root>

    <!-- Define specific logging levels for particular packages -->
    <!-- <logger name="com.example.yourpackage" level="DEBUG"/> -->
    <logger name="org.springframework.web" level="WARN"/>

</configuration>
